<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Players</title>
    <link rel="stylesheet" href="./css/players.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>

    <div class="players-header">
      <h1>Player List</h1>
    </div>

    <div class="players-container">
      <div class="players-grid">
        <% players.forEach((player) => { %>
        <div class="player-card">
          <h3><%= player.first_name %> <%= player.last_name %></h3>
          <div class="player-info">
            <p><span>Country:</span> <%= player.country %></p>
            <p><span>Rank:</span> #<%= player.world_ranking %></p>
            <p><span>Hand:</span> <%= player.playing_hand %></p>
            <p><span>Age:</span> <%= player.age %></p>
          </div>
          <a href="/players/<%= player.id %>">
            <button class="details-btn">Details</button>
          </a>
        </div>
        <% }) %>
      </div>

      <div class="action-container">
        <a href="/players/create-player">
          <button class="create-player-btn">Create New Player</button>
        </a>
      </div>
    </div>
  </body>
</html>
